@import url('https://fonts.googleapis.com/css?family=Muli|Pacifico|Righteous&display=swap')

@import reset
@import mixin
@import variable
@import content

body
  font-family: 'Muli', sans-serif
  font-size: 12px
  @include mq('tablet')
    font-size: 22px